.env
.DS_Store
**/.DS_Store

# VSCode Settings
.vscode/

# Toolchain Files
*.tar
*.tar.gz
*.tgz

.dotstop_extensions.backup
.dotstop_extensions.backup/
.dotstop_extensionsx
.dotstop_extensions/

# Local testing
src/cluster/CMakeLists.txt.user
src/cluster/build/
src/cluster/build
tests/build/
tests/build
HelloQt6
HelloQt6Qml
tests/unit/python/.venv/
tests/unit/python/.venv
tests/unit/python/__pycache__/
tests/unit/python/__pycache__
tests/unit/python/.pytest_cache/
tests/unit/python/.pytest_cache
tests/unit/python/.coverage

# Python
.venv/
__pycache__/
*.pyc
*.pyo


build/
build
