# Ignore team4examples folder
team4examples/
.env
.DS_Store
**/.DS_Store

# VSCode Settings
.vscode/

# Toolchain Files
*.tar
*.tar.gz
*.tgz

# Local testing
cluster/cluster-qml-teste/
HelloQt6
HelloQt6Qml

build/
build

# Chat exports
chat-session-*.json
