to_delete

# VSCode Settings
.vscode/

# Toolchain Files
*.tar
*.tar.gz
*.tgz

.dotstop_extensions.backup
.dotstop_extensions.backup/
.dotstop_extensions
.dotstop_extensions/

# Local testing
src/cluster/CMakeLists.txt.user
src/cluster/build/
src/cluster/build
tests/build/
tests/build
HelloQt6
HelloQt6Qml

build/
build

# Chat exports
chat-session-*.json

# TSF Howtoimplement submodules
docs/TSF/Howtoimplement/safety-monitor/
docs/TSF/Howtoimplement/trustable/
