[Unit]
Description=SEAME Inference Pipeline (Lane + Object Detection)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/seame/adas/inference/INFERENCE_THETA.py 86400
WorkingDirectory=/opt/seame/adas/inference
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
