[Unit]
Description=SEAME Inference Pipeline (Lane + Object Detection)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /data/current/inference/videostream.py /data/current/inference/INFERENCE_DUAL.py 86400
WorkingDirectory=/data/current/inference
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
