[Unit]
Description=SEAME ADAS Manager
After=network.target

[Service]
Type=simple
ExecStart=/data/ADAS-Manager-GITHUB/adas_manager
WorkingDirectory=/data/ADAS-Manager-GITHUB
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
